VARIABLE

In [13]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [19]:
_a=10
print(_a)
print(type(_a))
type(a)

10
<class 'int'>

int

RESERVE WORDS CAN'T USED AS A VARIABLE

In [22]:
if=10
if

SyntaxError: invalid syntax (2983687664.py, line 1)

In [24]:
else=38
print(else)

SyntaxError: invalid syntax (2852280740.py, line 1)

** SINGLE VARIABLE STORE MULTIPLE VALUES AS A TUPLE

In [28]:
A=10,20,30
print(A)

(10, 20, 30)



MULTIPLE VARIABLE ASSIGNMENT

In [32]:
a,b=10,20
print(a,b)

10 20

In [36]:
a,b=10,20
print(b)

20

In [38]:
a,b,n=10,20
print(a,b)

ValueError: not enough values to unpack (expected 3, got 2)

In [40]:
a,b=10,20,30
print(a,b)

ValueError: too many values to unpack (expected 2)

In [50]:
a,b=10,(20,30)
print("a=",a,"b=",b)

a= 10 b= (20, 30)

In [93]:
l=a=(20,30)
print(l)

(20, 30)





# PRINT

## PRINT SINGLE VALUE

In [88]:
print("rk")

rk

In [113]:


print(5.3)

5.3

In [90]:
print("Ramakant",20,"b.tech","Bhopal")

Ramakant 20 b.tech Bhopal

In [98]:
print("Ramakant",20,"b.tech","Bhopal",sep=" =/% ")

Ramakant =/% 20 =/% b.tech =/% Bhopal

In [104]:
print(4.5.3.3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2663667159.py, line 1)

##PRINT MULTIPLE VALUE

In [119]:
print(10 ,20,30,40)

10 20 30 40

In [121]:
print(10 ,20,30,40,sep=",")

10,20,30,40

In [127]:
print(10 ,20,30,40,sep=" & ")

10 & 20 & 30 & 40

In [17]:
a,b=20 ,30;
print("the value of a:",a,"the value of b:",b)

the value of a: 20 the value of b: 30

#ohter

.FORMAT

In [19]:
name ='RAMAKANT'
age=20
print("my name is :",name)

my name is : RAMAKANT

In [36]:
a=10
print("the value of a:",a)

the value of a: 10

In [30]:
a=10
print("the value of a:",{})

the value of a: {}

In [34]:
a=10
print("the value of a:{}".format(a))

the value of a:10

In [86]:
a,b=20 ,30;
print("the value of a:{} and the value of b:{}".format(a,b))
print(id(a))
id(b)

the value of a:20 and the value of b:30
140728898829336

140728898829656

TO PRINT COMBINATION OF VALUES & VARIAVLES

In [109]:
name ='RAMAKANT'
AGE=20
print("my name is :",name ,"and","my age is :",AGE)

my name is : RAMAKANT and my age is : 20

# task questions

In [2]:
x=10
print(x)

10

In [8]:
a,b=(5,15)
print(a,b)

5 15

In [10]:
a=15
b=a
print(a,b)

15 15

In [30]:
# SWAP THE VALUE OF VARIABLES P AND QIF P=8 AND Q=12,THEN PRINT THEM
a,b=(8,12)
a,b=b,a
print(a,b)


temp=p=8
p=q=12
q=temp
print(p,q)

12 8
12 8

In [34]:
#ASSIGN THE VALUE 5,10AND 15 OF THE VARIABLE A,B AND C RESPECTIVELY ,AND PRINT THEM

A,B,C=(5,6,7)
print(A,B,C)

5 6 7

In [38]:
# assign the value 20 to three variable x,y and z,then print them
x=y=z=20
print(x,y,z)

20 20 20

In [42]:
# ASSIGN THE VALUE OF 20 TO A VARIABLE Y AND PRINT ITS VALUE AND ADDRESS 

Y=20
print(y)
id(y)

20

140721033788440

In [76]:
#assign the value 30 to a variable z,print it and then delete the variable 

z=30
print(z)
del z

30

In [80]:
del z

NameError: name 'z' is not defined

In [86]:
# ASSIGN THE VALUE 7 AND 14 TO A VARIABLE M AND N ,PRINT THEM AND THEN DELETE BOTH VARIABLE 

A,B=7,8
print(A,B)

7 8

In [88]:
del A,B

In [92]:
 # ASSIGN VALUE 1,2,3 TO X,Y,Z RESPECTIVELY,THEN DELETE Y AND PRINT X AND Z
x,y,z=1,2,3
del y
print(x,z)

1 3

In [94]:
#ASSIGN 50 TO A AND PRINT ITS MEMORY ADDRESS
A=50
id(A)

140721033789400

In [102]:
#ASSIGN THE VALUE 50 TO A VARIABLE P AND Q ,PRINT  THEIR VALUE AND ADDRESSES

P=Q=50 
print(P,Q)
print(id(P))
id (Q)

50 50
140721033789400

140721033789400

In [104]:
# ASSIGN THE STRING "HELLO" TO A VARIABLE GREETING AND PRINT THEM

greeting= 'hello'
print(greeting)

hello

In [106]:
# ASSIGN THE STRING "HELLO" TO A VARIABLE GREETING AND PRINT ITS MEMORY ADDRESS

greeting= 'hello'
id(greeting)

2593486125504

In [108]:
# assign complex (1,2) to c and print its memoty address
c=1+2j
print(c)
id (c)

(1+2j)

2593562089808

In [118]:
# assign the value 100 to a variable a, print its address then change its value to 200 and print its new value 

a=100
print(id(a))
a=200
id (a)

140721033791000

140721033794200

In [120]:
# assign the value true to variable flag and print it

flag=True
print (flag)

True