### FOR LOOP

In [2]:
l=[1,2,3,5]
for i in l:
    print(i)

1
2
3
5

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
a="data"
for s in a:
    print(s)

d
a
t
a

In [10]:
t=[1,2,4,5]
for k in t:
    print(k)

1
2
4
5

In [12]:
s={1:25,'a':90}
for i in s.values():
    print(i)

25
90

In [14]:
s={1:25,'a':90}
for i in s.keys():
    print(i)

1
a

In [30]:
l={10,20,30,40,10,10}

for i in range(10):
    l.discard(10)
print(l)

{40, 20, 30}

In [32]:
l=[10,11,3,4]
for i in l:
    if i==11:
        print('ds')
print("python")

ds
python

In [74]:
n=(1,3,5,5,5,6,5,6,7,8,9,5,34,45,65,76)
l=[]
for i in n:
  if i%2==0:
      l.append(i)
      
print(l)

[6, 6, 8, 34, 76]

In [76]:
# program for even and odd number
l=[1,2,3,4,5,6,7,8,9,10]
e=[]
o=[]
for i in l:
    if i%2==0:
        e.append(i)
    else:
        o.append(i)

print(e,o)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [84]:
# program for sum of even num 
l=[1,2,3,4,5,6,7,8,9,10]
s=0
e=[]
for i in l :
    if i%2==0:
        s=s+i
        e.append(i)
print(e)
print(s)

[2, 4, 6, 8, 10]
30

In [86]:
# program for sum of even num and sum of odd num
l=[1,2,3,4,5,6,7,8,9,10]
e=[]
se=0
o=[]
so=0
for i in l:
    if i%2==0:
        e.append(i)
        se=se+i
    else:
        o.append(i)
        so=so+i
print(e)
print("sum of even num is :",se)
print(o)
print("sum of odd num is :",so)

[2, 4, 6, 8, 10]
sum of even num is : 30
[1, 3, 5, 7, 9]
sum of odd num is : 25

In [3]:
# program for multiplication 
n=int(input("which multiplication table you want"))
s=int(input("enter from which number ,you want to start"))
e=int(input("enter number,where you want to end"))
for i in range(s,e+1):
    print(n,"*",i,"=",n*i)

which multiplication table you want 7
enter from which number ,you want to start 1
enter number,where you want to end 10

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [20]:
l=[1,2,3,4]
for i in l:
    if i==3:
        break
    print(i)

1
2

In [36]:
s=0
for i in range(100):
    n=eval(input("enter the number that you want to add"))
    s=s+n
    if s>50:
        break

print(s)

enter the number that you want to add 5
enter the number that you want to add 6
enter the number that you want to add 7
enter the number that you want to add 4
enter the number that you want to add 3
enter the number that you want to add 34

59

In [38]:
# continue
l=[1,2,3,4]
for i in l:
    if i==3:
       continue
    print(i)

1
2
4

In [40]:
l=[1,2,3,4]
for i in l:
    if i==3:
        break
    print(i)

else:
    print("loop executed without any break")

1
2

In [42]:
for i in range(2):
    print("i=",i)
    if i==2:
        break

else:
    print("out of block")

i= 0
i= 1
out of block

**nested for loop**

In [57]:
for i in [14,18,20]:
    for j in range(10,12):
        print(i,j)

14 10
14 11
18 10
18 11
20 10
20 11

In [67]:
for i in range(3):
    for j in range(2):
        print("i=",i,"j=",j)
        if j==1:
            break

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [95]:
 p=[8,8,7,1,0,8,7,5,9,8]

s=0
for i in p:
   
    s=s+i

m=s%10
f=s//10
t=m+f
t

7

In [107]:
p=input("enter your num.")
sum=0
for i in range(10):
    sum=sum+int(p[i])
    if sum>=10:
        s=str(sum)
        t=int(s[0])+int(s[1])
        if t>=10:
             s=str(sum)
        t=int(s[0])+int(s[1])
print("sum",t)

enter your num. 8871087598

sum 7

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
# LOOPING THROUGH LIST
top_gainers = ['BHARTIARTL', 'EICHERMOT', 'HCLTECH',

'BAJFINANCE', 'RELIANCE']
for gainers in top_gainers:
    print(str(top_gainers.index(gainers)) + ' : ' + gainers)

0 : BHARTIARTL
1 : EICHERMOT
2 : HCLTECH
3 : BAJFINANCE
4 : RELIANCE

In [11]:
# LOOPING THROUGH STRING
volume_name="python"
for charactor in volume_name:
    print(charactor)

p
y
t
h
o
n

In [15]:
# LOOPING THROUGH DICTIONARY
dict = {'AAPL':193.53,
'HP':24.16,
'MSFT':108.29,
'GOOG':1061.49}
for key,value in dict.items():
    print(f'the price of {key} is {value}')

the price of AAPL is 193.53
the price of HP is 24.16
the price of MSFT is 108.29
the price of GOOG is 1061.49

In [17]:
dict.items()# items() gives us the key and value in the form of list of the tuple

dict_items([('AAPL', 193.53), ('HP', 24.16), ('MSFT', 108.29), ('GOOG', 1061.49)])

In [19]:
# for loop with else condition 
for i in range(1,6):
    print(i)

else:
    print("loop is over")

1
2
3
4
5
loop is over

In [24]:
#  TABLE PRINT 1-9
for table_value in range(1,10):
    for multiplier in range(1,11):
        answer=table_value*multiplier
        print(answer,end=" ")
    print()
else:
        print("loop is over")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
loop is over

In [42]:
# break keyword
for items in range(1,10):
    print(f"this is {items}.")
    if items==6:
        print("existing loop")
        break
print("not in for loop")

this is 1.
this is 2.
this is 3.
this is 4.
this is 5.
this is 6.
existing loop
not in for loop

In [84]:
# CONTINUE KEYWORD
for items in range(1,10):
    if items==6:
        continue
        print("this statement will not be executed")
    print(f"this is the {items}")

        
print('this is not in for loop')

this is the 1
this is the 2
this is the 3
this is the 4
this is the 5
this is the 7
this is the 8
this is the 9
this is not in for loop