**ASSIGN TH VALUE 10 TO AVARIABLE NAMED X AND PRINT IT**

X=10
print(X)

**ASSIGN THE VALUE 5 AND 15 TO AVARIABLE NAMED X AND Y RESPECTIVELY AND PRINT IT**

In [6]:
x,y=5,15
x,y

(5, 15)

**3. assign the value of a to b ,where a=15,and then print both vavariable .**

In [11]:
a=15
b=a
a,b

(15, 15)

**4.swap the value of variable p and q if p=8 and q=12,then print them.**

In [22]:
#option 1
r=p=8
p=q=12
q=r
print(p,q)

#option 2
p,q=8,12
p,q=q,p
p,q

12 8

(12, 8)

**5.assign the value 5,10 and 15 to the variables a,b and c respectively, and print them.**

In [25]:
a,b,c=5,10,15
a,b,c

(5, 10, 15)

**6.assign the same value 20 to three variable x,y and z,then print them.**

In [30]:
x=y=z=20
print(x,y,z)

20 20 20

**7..assign the same value 20 to a variable y and print its value and address.**

In [33]:
y=20
print(y)
id(y)

20

140736670874648

**8.assign the same value 30 to a variable z,print it,and then delete the variable.**

In [36]:
z=30
print(z)
del z
z

30

NameError: name 'z' is not defined

**9.aasign the value 7 and 14 to variables m and n, print them, and then delete both variables.**

In [41]:
m,n=7,14
print(m,n)
del (m,n)
m,n

7 14

NameError: name 'm' is not defined

**10.assign values 1,2,3 to x,y,z,respectively,then delete y and print x and z.**

In [44]:
x,y,z=1,2,3
del y
print(x,z)
y

1 3

NameError: name 'y' is not defined

**11. assign 50 to a and print its memory address.**

In [47]:
a=50
id(a)

140736670875608

**12.assign the value 50 to two variables p and q,print their values and address.**

In [50]:
p=q=50
print(p,q)
print(id(p))
id(q)

50 50
140736670875608

140736670875608

**13.assign the string 'HELLO' to a variable greeting and print it .**

In [53]:
greeting='hello'
greeting

'hello'

**14.assign the string 'HELLO' to a variable greeting and print its memory address.**

In [57]:
greeting='hello'
print(greeting)
id(greeting)

hello

2962688359376

**15.assign complex(1,2)to c and print its memory address.**

In [62]:
c=1+2j
print(c)
id(c)

(1+2j)

2962763944656

**16.assign the value 100 to a variable a , print its address,then change its value 200 and print its new address.**

In [66]:
a=100
print(a)
print(id(a))
a=200
print(a)
id(a)

100
140736670877208
200

140736670880408

**17.assign the value True to a variable flag and print it.**

In [69]:
flag=True
flag

True

**18.assign the value 300 to a variable k,delete the variable,and then reassign it with the value 600 and print it .**

In [72]:
k=300
del k
k=600
k

600

**19.assign the string "apple","banana",and "cherry" to the variables fruit1,fruit2 and fruit3 respectively and print them.**

In [77]:
fruit1,fruit2,fruit3='apple','banana','cherry'
print(fruit1,fruit2,fruit3)

apple banana cherry

**20.assign the floar value 9.99 to a variable price and print it.**

In [80]:
price=9.99
price

9.99

**21.aggign 7.5 to b and print its memory address.**

In [83]:
b=7.5
print(b)
id(b)

7.5

2962762923440

**22.assign the value 3.14 to pi and the value 2.718 to e,then print both variables.**

In [86]:
pi,e=3.14,2.718
pi,e

(3.14, 2.718)

**23.assign the values 1,2 and 3 to variables a,b and c,and print their addresses.**

In [89]:
a,b,c=1,2,3
print(id(a))
print(id(b))
id(c)

140736670874040
140736670874072

140736670874104

**24.assign a string "john",an integer 25, and a boolean false to variable name, age and status,and print them.**

In [94]:
name,age,status="john",25,False
name,age,status

('john', 25, False)

**25.assign the value True to both variables x and y, and print them.**

In [97]:
x=y=True
x,y

(True, True)

**26.assign 500 to m and 500 to n ,print their value and addresses .**

In [102]:
m=n=500
print(m,n)
print(id(m))
id(n)

500 500
2962763942384

2962763942384

**27. assign 10 to x, then change it to 20,30 and finally 40, and print the final value .**

In [107]:
x=10
x=20
x=30
x=40
x

40

**28.assign 1000 to x, print its address,then delete x.**

In [117]:
x=1000
print(x)
print(id(x))
del x
x

1000
2962763943888

NameError: name 'x' is not defined

**29.assign the value 42,'answer',and True to variable num ,word and boolean ,print them and then delete all three variable.**

In [130]:
num,word,boolean=42,'answer',True
print(num,word,boolean)
del num,word,boolean
num,word,boolean

42 answer True

NameError: name 'num' is not defined

**30.how do you create an integer variable with the value 25?**

In [134]:
a=25
print(a)
type(a)

25

int

**31.add two integer 14 and 26 and print the result**

In [137]:
a=14
b=26
c=a+b
c

40

**32. how do you create a float variable with the value 7.5?**

In [140]:
b=7.5
b

7.5

**33.how do create a complex number with a real part 4 and an imaginary part of 3?**

In [149]:
c=4+3j
c

(4+3j)

**34.assign a complex number 3+4j to a variable z and print its type .**

In [152]:
z=3+4j
type(z)

complex

**35.substract 1+1j from 5+6j and print the result .**

In [155]:
a=1+1j
b=5+6j
c=b-a
c

(4+5j)

**36.how do you create a boolean variable that is set to False ?**

In [157]:
a=0
bool(a)

False

**37.how do you create a string  variable with value "python"?**

In [161]:
my_variable ="python"
my_variable

'python'

**38.how do you check the data type of a variable x?**

In [167]:
# we check any data type by using *type()*

x=10
print(type(x))
x='rks'
type(x)

<class 'int'>

str

**39.how do you convert the integer10 to a float?**

In [181]:
x=10
print(type(x))
print(float(x))

<class 'int'>
10.0

**40.how do you convert the float 12.34 to an integer?**

In [186]:
a=12.34
print(type(a))
int(a)

<class 'float'>

12

**41.how do you convert the string "100" to an integer?**

In [199]:
b="100"
print(b)
print(type(b))
print(int(b))

100
<class 'str'>
100

**42.how do you convert the integer 50 to a strig?**

In [204]:
a=50
print(type(a))
str(a)

<class 'int'>

'50'

**43.how do you find the length of the string language="python"?**

In [207]:
language="python"
len(language)

6

**44.how do you multiply the string "Hi"by 3?**

In [248]:
z='HI'*3
print(z)

HIHIHI

**45.how do you convert the string "3.14" to a float?**

In [254]:
s="3.14"
print(type(s))
float(s)

<class 'str'>

3.14

**46.How do you get the real part of the complex number z=5+6j?**

In [269]:
z=5+6j
z.real

5.0

**47.How do you get the imaginary part of the complex number z=5+6j?**

In [276]:
z=5+6j
z.imag

6.0

**48.how to convert a boolean value True to an integer?**

In [286]:
a=True
print(type(a))
int(a)

<class 'bool'>

1

**48.how to convert the integer 1 to a boolean?**

In [289]:
i=1
type(i)
bool(i)

True

**49.ask the user to input a number and assign it to the variable num.print the value of num.**

In [294]:
num=input("insert a number")
print(num)

insert a number 5

5

**50.ask the user to input a name and assign it to the variable name.print the value of name.**

In [300]:
name=input("enter your name")
name

enter your name Ramakant

'Ramakant'

**51.ask the user to input a floating-point number and assign it to the variable price .print the value of price**

In [303]:
price=input("enter the floting point number")
price

enter the floting point number 56.44

'56.44'

**52.ask the user to input a number as a string ,convert it to an integer,and assign it to the variable age,print the value of age.**

In [9]:
num=str(input("enter the number as a string"))
print(num)
print(type(num))
age=int(num) 
print(age)
type(age)

enter the number as a string 5

5
<class 'str'>
5

int

In [13]:
values = input("Enter values separated by spaces: ").split()
print("You entered:", values)

Enter values separated by spaces:  6 'adsaf'

You entered: ['6', "'adsaf'"]

**53.ask the user to input a number and a word,then assign the number to num (as an integer) and the word to text.print both num and text**

In [30]:
num,word=input().split()

num ,word

 4 sdkhgk

('4', 'sdkhgk')

In [32]:
num=int(input("enter a number"))
text=str(input("enter a word in text"))
print(num,text)

enter a number 3
enter a word in text sghdk

3 sghdk

**54.ask the user to input a number,typecast it to a float and assign it to a varaible score.print the value of score and its type**

num=input("enter a number")
score=float(num)
print(score)
type(score)

**55.ask the user to input a number,convert it to a string and assign it to a varaible number_str.print the value of number_str and its type**

In [43]:
num=input("enter a number")
number_str=str(num)
print(number_str)
type(number_str)

enter a number 56

56

str

**56.take user input for two numbers and print their sum**

In [62]:
num1=int(input("enter the first number "))
num2=int(input("enter the second number"))
sum=num1+num2
sum

enter the first number  7
enter the second number 8

15

**57.ask the user for a floating-point number and print its square**

In [69]:
num=float(input("enter the floating number"))
num=num**2
num

enter the floating number 9

81.0

**58.take input for a complex number and print its real and imaginary parts**

In [77]:
num=complex(input("enter a complex number"))
print(num.real)
num.imag

enter a complex number 3+4j

3.0

4.0

**59.how do you create a string varaible with the value "python"?**

In [80]:
value="python"
value

'python'

**60.assign the string "python" to a variable language and print its length**

In [83]:
language="python"
print(language)
len(language)

python

6

**61.how do you access the third character of the string language="python"**

In [103]:
language="python"
language[2]

't'

**62..how do you access the third character of the string language="python"**

In [106]:
language="python"
language[-1]

'n'

**63.how do you slice the string language="python" to get "pyt"?**

In [109]:
language="python"
language[0:3]

'pyt'

**64.assign the string "substring" to word and print the last four characters.**

In [120]:
word="substring"
print(len(word))
print(word[5::])
word[-1:-5:-1]

9
ring

'gnir'

**65.how do you slice the string language="python" to get "tho"?**

In [128]:
language="python"
print(len(language))
language[2:5]

6

'tho'

**66.assign the string "data science" to text and slice the string to print"data".**

In [134]:
text='data science'
text[0:4]

'data'

**67assign the string "artificial intelligence" to ai and slice the string to print"artificial".**

In [139]:
ai="artificial intelligence"
a='artificial'
print(len(a))
ai[:10]

10

'artificial'

**68.assign the string"programming" to term and print the substring"gram".**

In [144]:
term="programming"
print(len(term))
term[3:7]

11

'gram'

**69.how do you reverse the string language="python"**

In [147]:
language="python"
language[::-1]

'nohtyp'

**70.assign the string "python programming "to a variable course,delete the variable course.**

In [152]:
course="python programming "
print(course)
del course
course

python programming

NameError: name 'course' is not defined

**71.assign the string "OpenAI"to company and convert it to lowercase,then print it.**

In [155]:
company="OpenAI"
company.lower()

'openai'

**72.assign the string "learning"to activity and convert it to uppercase,then print it.**

In [158]:
activity="learning"
activity.upper()

'LEARNING'

**73.assign the string "OpenAI"to company and and remove any leading space,then print the result.**

In [177]:
company='  OpenAI   '
print(company)
print(company.lstrip())
company.lstrip()

  OpenAI
OpenAI

'OpenAI   '

**74.assign the string "Data Science"to field and and remove any trailling space,then print the result.**

In [180]:
field ="   Data Science   "
field.rstrip()

'   Data Science'

**75.assign the string "python"to text and remove the leading  any trailling space,then print the result.**

In [184]:
text="   python   "
text.strip()

'python'

**76.assign the string "hello" to greeting and capitalize the first letter,then print the result.**

In [187]:
greeting ="HELLO"
greeting.capitalize()

'Hello'

**77.assign the string "hello ,world!" to text and convert it to title case,then print the result**

In [197]:
text="hello,world!"
text.title()

'Hello,World!'

**78.assign the string "banana" to fruit and count the occurrences of "a",then print the result**

In [204]:
fruit="banana"
fruit.count('a')

3

**79.assign the string "python is fun" to sentence and  find the index of "fun",then print the result.**

In [4]:
sentence="python is fun"
sentence.index("fun")

10

**80.assign the string"Alphabet" to text and find the first occurrence of "a"(case -insensitive), then print the result**

In [34]:
text="Alphabet"
t=text.lower()
print(t)
t.count("a")

alphabet

2

**81.assign the string "This is a test" to sentence and split it into a list of words ,then print the result**

In [37]:
sentence="this is a test"
sentence.split()

['this', 'is', 'a', 'test']

**82.assign the string "join" to word and join it with a hyphen "-" between each letter,then print the result**

In [47]:
word='Join'
"-".join(word)

'J-o-i-n'

**83.how you check if the string "12345" contains only digit?**

In [50]:
s='12345'
s.isdigit()

True

**84.assign the string "python3"to language and check if it is alphanumeric,then print the result.**

In [53]:
language="python3"
language.isalnum()

True

**85.how do you replace the substring'thon' in the string language='python'with 'ck'.**

In [59]:
language="python"
language.replace("thon","ck")

'pyck'

In [61]:
greeting="hello world!"
greeting.replace("world","python")

'hello python!'

In [69]:
s="python"
s.startswith("p")

True

In [ ]:
s="python"