In [5]:
a=input()
type(a)

 Ramakant

str

In [13]:
b=input

enter your age : 20

'20'

In [21]:
s=input("enter your age :")
print("entered value is :",s)
print ("entered value type is:",type(s))

enter your age : 20

entered value is : 20
entered value type is: <class 'str'>

In [33]:
d=int(input("enter your age :"))
print("the entered value is:",d)
print("data type of entered value :",type(d))

enter your age : 20

the entered value is: 20
data type of entered value : <class 'int'>

In [39]:
k=float(input("enter your age :"))
print("entered the value is:",k)
print("value type is :",type(k))

enter your age : 23

entered the value is: 23.0
value type is : <class 'float'>

In [43]:
name=input("whart is your name :")
age=int(input ("enter your age :"))
print("It was nice talking you",name,"!")
print("hey,you are slready",age,"years old",name,"!")

whart is your name : rk
enter your age : 20

It was nice talking you rk !
hey,you are slready 20 years old rk !